*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-size: 64.25%;
    background-color: #1b1d21;
    /* background-color: #fff; */
    font-family:'Poppins', sans-serif;
    color:#fff;
}
.container{
    margin:auto 10%;
}
.logo{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    cursor:default;
    animation:sideleft .3s ease forwards;
    opacity: 0;

}

.navbar{ 
    width: 100%;
    position: fixed;
    padding: .8rem;
    border-bottom: 2px solid rgb(95, 158, 160);
    background-color: #1b2524;
    box-shadow: rgba(247, 244, 244, 0.08) 0px 4px 12px;
    z-index: 111;
}
.navbar-wrapper{
    display: flex;
    gap:2rem;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem
}
.navbar a{
    text-decoration: none;

}
.nav-item{
    margin-left:.5rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 1.3em;
    transition: 0.4s all;
    font-weight: 500;
    animation: navMenu 1s ease forwards;
    animation-duration: calc(.2s*var(--i));
    opacity: 0;
}
.navbar .nav-item:hover{
    color:cadetblue;
    border-bottom: 1px solid cadetblue;
    transition: 0.4s all;

}
.navbar .gitbutton{
    padding: 5px 25px;
    text-transform: uppercase;
    background: transparent;
    color:cadetblue;
    font-weight: 500;
    border:2px solid cadetblue;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    font-size: 1.3em;
    animation: glow 2s  infinite ease-in-out;  
    opacity: 0;
}


.navbar .gitbutton:hover,.social-media a:hover{
    transform: scale(1.1);
    background-color: rgb(95, 158, 160);
    color:#fff;
    font-weight: 600;
}


/* ============HOME PAGE============= */


.home-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 10%;
    gap:2rem;
    height: 90vh;
}
.side-info{
    margin-top: 80px;
    animation: sideleft 1s forwards;
    transition: all 1s ease-in;
}

.side-info h2{
    font-size: 3rem;
}
.side-info h2 span{
    font-size: 3rem;
    color:cadetblue;
}
.side-info h3{
    font-size: 1.8rem;
}
.side-info h3 span{
    font-size: 1.8rem;
    color:cadetblue;
}
.side-info p{
    font-size: .7rem;
    width: 80%;
    line-height: 27px;
}


.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 40%;
    /* border:2px solid #fff; */
    padding-top: .5rem;
    padding-bottom: .5rem;

}
.social-media a{
    font-size: 1rem;
    color: rgb(95, 158, 160);
    border:1px solid  rgb(95, 158, 160);
    padding: 10px 15px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0px 0px 700px 10px rgb(95, 158, 160);
    transition: all 0.3s ease-in-out;
}
.social-media a:hover{
    border:2px solid  rgb(95, 158, 160);
    

}
.hero-buttons{
    display: flex;
    gap:1.3rem;
    margin-top:2rem;
}
.hero-buttons button,.btn,.hi-btn{
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    text-transform: capitalize;
    font-weight: 600;
    color:#fff;
    background: cadetblue;
    outline: none;
    border: none;
}
.hero-buttons button a,.btn,.hi-btn a{
    color:#fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
}
.hero-buttons button:hover,.btn:hover,.hi-btn:hover{
    color:#fff;
    background-color: rgb(44, 73, 74);

}
.hero-img{
    margin-top:100px ;
    /* border: 2px solid #fff; 
    */
    animation: rightslide 1s forwards;
    transition: all 1s ease-in;
}
.hero-img img{
    width: 300px;   
    height: 300px;
    border-radius: 12%;
    box-shadow: 0px 0px 500px 10px rgb(95, 158, 160);
    object-fit: cover;
    
    
}

/* ========about======== */
#about-id{
    background-color: #5097a413; 
    padding:40px 0 0 0;
    border-radius: 12px;
    margin:50px;
    height:550px;
}
.about-content{
    display:flex;
    flex-wrap: wrap;
    gap:1rem;

}
.about-img{
    order:0;
    flex:1 1 25em;
    
    padding:5px;
    position: relative;
    margin-top: 10px;

}

.about-text{
    flex:1 1 40em;
    padding:5px 10px;
    margin:auto;
    height: 400px;
    box-shadow: 10px #aaa;

}
.about-text .heading,
.testimonials-title,
.pro-head{
    text-align: left;
    font-size: 2rem;
    margin:0;
    color:#fff;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.about-text h2{
    
    text-align: left;
    text-transform: uppercase;
    color: cadetblue;
    line-height:0;
    font-size: 1.2rem;
    margin-bottom:.5rem;
    line-height: 1rem;

}
.about-text p{
    font-size: 1rem;
    color:#fff;
    margin-bottom: 2rem;
}

.about-img img{
    display:block;
    border-radius: .5rem; 
    height:70%;
    width:100%;
    object-fit:cover;
    object-position:center;
    box-shadow: 0px 0px 50px 1px rgb(95, 158, 160);
    margin-bottom: 10px ;

    
}
.about-img h2{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size: 2.7rem;
    background:#dad6d6;
    width:90%;
    padding:1rem;
    text-align:center;
    mix-blend-mode: screen;

}



/* ====================portfolio============== */
#portfolio{
    margin-top:50px;
    padding:50px 0;
}
#portfolio h2{
    text-align: center;
    color:#fff;
    font-size:2rem;
    font-weight:400;
    text-transform: uppercase;
    margin-bottom:2rem;
}
.portfolio-type{
    border:none;
    border-radius: 10px;
    margin:1px;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 10px 1px rgb(95, 158, 160);
}
.portfolio-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1rem;
    /* border:3px solid red; */
    height:auto;

}
.portfolio-container img{
    display:block;
    width:100%;
    /* margin:5px auto; */
    height:95%;
    object-fit:cover;
    object-position:center;
    /* border-radius: 10px; */
    /* border: 2px solid green; */

}
.portfolio-img-container{
    margin:auto;
    position:relative;
    width:200px;
    height:150px;
    padding: .3rem;
    /* border: 3px solid blue; */
}
.portfolio-img-content{
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
    z-index: 2;
    text-align: center;
    transition:all 0.3s ease-in-out 0.1s;
}
.portfolio-img-content h3{
    color:#fff;
    font-size:.8rem;
    text-transform: capitalize;
    margin-bottom: .5rem;
    margin-top: 2rem;
}
.portfolio-img-content h4{
    color:#cbc1c1;
    font-size:.6rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
.portfolio-img-content a{
    font-size:1rem;
    color:#fff;
    margin:1px;

}

/* adding overlay */
.portfolio-img-container::after{
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0, 0, 0, 0.723);
    opacity:0;
    z-index: 1;
    border-radius: 12px;

    transform:scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.portfolio-img-container:hover::after{
    opacity:1;
    transform:scaleY(1);
}
.portfolio-img-container:hover .portfolio-img-content{
    opacity:1;
    top:40%
}
/* ===========SKILLS========== */

.skill-wrapper{
    margin-top: 40px;
}

.skill-head{
    text-align: center;
    color:#fff;
    font-size:2rem;
    font-weight:400;
    text-transform: uppercase;
    margin-bottom:2rem;
}
#skills{
    /* border:2px solid green; */
    height: 450px;
    display: flex;
    justify-content: space-between;
    gap:1rem;
    margin-top: 150px;
    margin-bottom: 10px;
}
.left-skills{
height: 100%;
width: 60%;
/* border: 1px solid grey; */
}
.skill-cards{
height: 100%;
/* border:2px solid blue; */
display: flex;
flex-direction: column;
justify-content: space-between;
}
.card{
    width: 50%;
    border-radius: 10px;
    padding:0px 10px;
    margin:2%;
    box-shadow: rgb(95, 158, 160)0px 2px 5px -1px, rgb(95, 158, 160) 0px 1px 3px -1px;
    border: none;
    border-bottom: 4px solid cadetblue;

    animation: rise 8s infinite ease-in-out;
    animation-duration: calc(2s*var(--i));
    transition: all 1s ease-in-out;

}
.box2{
    margin-left: 30%;
}
.box1 h2,.box2 h2,.box3 h2{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color:cadetblue;
}

.frontend,.others,.ui{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
    margin-top: .6rem;
    padding: .5rem;
}
.left-li{
    width: 50%;
    /* background-color: cadetblue; */
    height: 100%;
}
.right-li li{
    list-style:square;
    margin-bottom: .3rem;
    font-size: .7rem;
    font-weight: 400;

}
.right-skill{
    /* border:2px solid green; */

    width: 50%;
}
.bubbles{
    margin: 30px 20px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:2.5rem;
    padding-left: 2rem;
    
}
.bubble img:hover{
    transform: scale(1.1);
    /* color:#aaa; */ 
    box-shadow: 0px 0px 70px 20px rgb(95, 158, 160);

}
.bubble img{
 border-radius: 50%;
 height: 50px;
 width: 50px;
 margin:auto;
 background-repeat: no-repeat;
 border:2px solid cadetblue;
 box-shadow: 0px 0px 700px 10px rgb(95, 158, 160);
 object-fit: cover; 
}
.bubble h3{
    font-size: 1rem;
    text-align: center;
    margin-top: .2rem;
}


/* ========CONTACT FORM=============== */

#contact{
    padding:50px 0;
    background:#00000020;
    margin-top: 200px;
}
.contact-container{
display: flex;
background: transparent;
flex-wrap: wrap;
/* height:400px; */
gap:5%;

}
.contact-img{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
/* border: 2px solid green; */


}
.contact-img .img-conatiner{
height: 200px;
margin: 10px;
/* border: 2px solid green; */
width: 100%;
}
.contact-img img{
    display:block;
    height:100%;
    object-fit: contain;
    object-position: left;
    width:100%;
    border-radius: 12px;
    margin-bottom: 1rem;
 box-shadow: 0px 0px 700px 10px rgb(95, 158, 160);
 /* border: 2px solid green; */

}
.contact-info{
    /* border: 2px solid blue; */
    height: 250px;
    width: 100%;
 box-shadow: 0px 0px 700px 10px rgb(95, 158, 160);
 padding:1rem;
 border-radius: 12px;

}
.contact-info h1{
    font-size: 2rem;
    color:cadetblue;
    text-transform: uppercase;
    margin-bottom: 0;
}
.contact-info h2{
    font-size: 1.5rem;
    color:#555;
    text-transform: capitalize;
    margin-bottom: 5%;


}
.contact-info p{
    font-size: .8rem;
    color:#fff;
    text-transform: capitalize;
    margin-bottom: 5%;
}
.form-container{
    padding:1rem;
    width:50%;
    height: 80%;
    margin:auto;
    text-align:left;
    /* border: 2px solid red; */

}
.form-container input{
    display:block;
    width:100%;
    padding:1rem 0;
    border:none;
    border-bottom: 2px solid cadetblue;
    outline: none;
    margin-bottom: 1rem;
    color:#fff;
    font-weight: 400;
    background-color: transparent;
}
.form-container textarea{
    display:block;
    width:100%;
    padding:1rem 0;
    border:none;
    border-bottom: 2px solid cadetblue;
    outline: none;
    margin-bottom: .5rem;
    color:#444;
    font-weight: 400;
    background-color: transparent;
    margin-bottom: 2rem;
    
}

.btn-1{
    margin-top: 1rem;
    font-size: 1rem;

}

.form-container h2{
    font-size:2rem;
    text-transform: uppercase;
    font-weight:500;
    color:#fff;
    margin:.2rem 0;
    margin-bottom: 2rem;
    text-align: left;
    /* line-height: 45px; */
    }
.form-container a{
    font-size: 1.3rem;
    text-align: center;
}

#footer h2{
    text-align:center;
    font-size:2rem;
    padding:3rem;
    font-weight:500;
    color:#fff;
    background:#000000b0;
    text-transform: capitalize;
}




/* ================animations============ */

@keyframes sideleft {
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;

    }
}
@keyframes rightslide {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;

    }
}

@keyframes navMenu {
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;

    }
}

/* git button animation==== */
@keyframes glow {
    0%{
        transform: scale(1);
        opacity: 1;

    }
    10%{
        transform: scale(1.1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;

    }

    
}

@keyframes rise {
    0%{
        transform:translateY(0px) ;
    }
    25%{
        transform:translateY(2px) ;


    }
    50%{
        transform:translateY(4px) ;

    }
    75%{
        transform:translateY(2px) ;

    }
    100%{
        transform:translateY(0px) ;


    }
}

@keyframes rotation {
    0%{
        transform: translate(-50%,50%)rotate(-360deg);
    }
} 

/* ==================MEDIA QUERIES============ */


@media(max-width:768px) {

     html{
        font-size:62%;
    }
    
    .logo{
        display: none
    
    }
    .nav-item{
        display:block;
        
    }
    
    
    .hero-img img{
        width: 200px;   
        height: 200px;
    }
    #skills{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:1rem;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .left-skills{
    height: 100%;
    width: 100%;
    /* border: 1px solid grey; */
    }

    .skill-cards{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap:1px;
    
    }
    .card{
        width: 250px;
           
    }
    
    
    .box3{
        margin-left: 35%;
    }
    
   .right-skill{
    width: 100%;
    height: 500px;
    padding: 10px;
   }
    .bubbles{
        margin:0;
        flex-wrap: wrap;    
        width: 100%;
        
    }
    .bubble img{
     height: 40px;
     width: 40px;    
    }

    /* ====PORTFOLIO===== */
    #portfolio{
        margin-top:50px;
        padding:50px 0;
    }
    
    .portfolio-type{
        margin:0;
        width:30%;
        margin:.5rem .5rem;
    }
    .portfolio-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap:.5rem;
    
    }
    .portfolio-container img{
        display:block;
        width:80%;
        margin:auto;
        max-height: 150px;
        object-fit:cover;
        object-position:center;
    }
    .portfolio-img-container{
        width:100%;
        height: 150px;
    }
    #contact{
       
        margin-top: 100px;
    }
    
   
}
@media(max-width:855px){
    #skills{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:1rem;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .left-skills{
    height: 100%;
    width: 100%;
    /* border: 1px solid grey; */
    }

    .skill-cards{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap:1px;
    
    }
    .card{
        width: 140px;
           
    }
    
    
    .box3{
        margin-left: 35%;
    }
    
   .right-skill{
    width: 100%;
    height: 500px;
    padding: 10px;
   }
    .bubbles{
        margin:0;
        flex-wrap: wrap;    
        width: 100%;
        
    }
    .bubble img{
     height: 40px;
     width: 40px;    
    }
}
@media(max-width:555px){
    .logo{
        color:#fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.5rem;
        cursor:default;
        animation:sideleft .3s ease forwards;
        opacity: 0;
    
    }
    .nav-item{
        display: none;
        animation: navMenu 1s ease forwards;
        animation-duration: calc(.2s*var(--i));
        opacity: 0;
    }
    
    .hero-img img{
        display: none;
        
    }
    
    .contact-container{
    gap:5%;
    flex-direction: column ;
    
    }
    .contact-img{
        width:100%;
        margin:20px auto;
       
    }
    .contact-img .img-conatiner{
    height: 100px;
    /* border: 2px solid green; */
    width: 100%;
    }
    .contact-img img{
        height:100%;
        width:100%;
    }
    .contact-info{
        height: 180px;
    
    }
    
    .form-container{
        padding:1rem;
        width:70%;
        
    
    }
    
    
    .btn-1{
        margin-top: 1rem;
        font-size: .5rem;
    
    }

    .skill-wrapper{
        margin-top: 0px;
    }
    
    .skill-head{
        text-align: center;
        color:#555;
        font-size:2rem;
        font-weight:400;
        text-transform: uppercase;
        margin-bottom:2rem;
    }
    #skills{
        /* border:2px solid green; */
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:1rem;
    }
    .left-skills{
    height: 100%;
    width: 100%;
    /* border: 1px solid grey; */
    }
    .skill-cards{
    height: 100%;
    /* border:2px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    .card{
        width: 100%;}
    .box2,.box3{
        margin-left:0;
    }
    .box1 h2,.box2 h2,.box3 h2{
        font-size: 2rem;
        
    }
    
   
    .left-li{
        width: 10%;
    }
    .right-li li{
       display: none;
    
    }
    
    
}